{% extends "bootstrap_5_layout.html" %}
{% set page_title = "About Page" %}
{% set active_page = "about" %}

{% block content %}

    <h1>Magic the Gathering - Cube P1P1</h1>
 <!-- pulled this info on image insertion from : https://getbootstrap.com/docs/4.0/content/images/ - it wasn't responsive out of the box, CHATGPT helped me with that:
https://chat.openai.com/share/2f255a7a-8f66-4fbc-80ee-f8771b482d7f chat gpt helped me with the artist credit - see the style additions in bootstrap-->

<div class="d-flex justify-content-center">
    <div class="position-relative text-center">
        <img src="https://raw.githubusercontent.com/ebd20/Flask-Sheets/main/Images/048.jpg" class="img-fluid" alt="Artwork">
        <div class="artist-credit position-absolute">
            Art by Terese Nielsen
        </div>
    </div>
</div>


    <p class="lead"><b>A Magic: The Gathering cube</b> is a custom set of Magic the Gathering cards that a player or group of players has put together for the purpose of drafting. These cubes often consist of a curated set of cards that allow for numerous draft possibilities. Cubes can vary widely in themes, sizes, and the power level of the cards included. They provide a reusable and personalized drafting experience without the need to purchase new packs.</p>

    <p class="lead"><b>P1P1</b> stands for "Pack 1, Pick 1." In the context of drafting a Magic: The Gathering cube (or any other draft format), it refers to the very first card a player chooses from the first pack that they open. This is often considered one of the most crucial choices in a draft, as it can set the direction for the player's strategy and card choices in subsequent rounds.</p>

    <p class="lead"><b>How it works:</b> 
        On the "Practice P1P1" page of the website, you'll be presented with a virtual pack of 15 randomly selected cards from the cube. Your task is to select what you consider the best "Pack 1, Pick 1" (P1P1) card from this assortment. Once you make your choice, it will be recorded along with the 14 cards you did not select. This allows you to review and analyze your decisions on the "Your Choices" page. Each time you make a selection, the page will refresh, presenting you with a new set of 15 random cards to choose from, enabling continuous practice and refinement of your drafting strategy.</p>
{% endblock %}
