{% extends "bootstrap_5_layout.html" %}
{% set active_page = "home" %}

{% block content %}

    <h1>Cubes and Magic: The Gathering</h1>
 <!-- pulled this info on image insertion from : https://getbootstrap.com/docs/4.0/content/images/-->
    <img src="https://raw.githubusercontent.com/ebd20/Flask-Sheets/main/Images/090.jpg" class="rounded mx-auto d-block"  alt="Responsive image">

    <p class="lead"><b>A Brief History of Magic: The Gathering Cubes.</b></p>

    <p class="lead">Magic: The Gathering cubes originated as a way for players to enjoy the drafting format without the ongoing cost of new booster packs. The concept likely took root in the early 2000s when enthusiasts of the game began curating collections of their favorite cards to draft from. Over time, these personalized sets evolved into carefully balanced assortments, enabling players to explore diverse strategies and interactions. Today, cubes range from collections of all-time favorites to theme-based selections, such as pauper, vintage, or modern legal cubes, each offering a unique drafting experience.</p>

    <p class="lead"><b>How Cubes are Drafted</b></p>

    <p class="lead">Drafting a cube follows a similar structure to traditional Magic: The Gathering booster drafts, yet with a personal twist. Typically, each player begins with a "pack" of 15 cards randomly selected from the cube. Players pick one card from their pack to keep for their deck (P1P1), then pass the remaining cards to the player on their left. This process continues until all cards are drafted. Since the cube is a curated collection of cards, each draft round is rich with potent synergies and strategic depth, making every choice crucial and every draft unique.</p>

    <p class="lead"><b>About Our Website</b></p>

    <p class="lead">Our website provides a digital platform for practicing the P1P1 phase of drafting a cube. Upon visiting, you'll be presented with a randomly generated "pack" of 15 cards from a diverse cube collection. Your task is to evaluate these cards and select the best one as the foundation for a potential deck. This exercise aims to enhance your drafting skills, helping you to identify key strategies and card synergies effectively. Whether you're prepping for an upcoming tournament or just looking to refine your draft decisions, our tool offers a hands-on approach to mastering the art of the cube draft.</p>

{% endblock %}
